<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>NLP APP | Login</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h2>Welcome to the NLP Web App</h2><br>
        <h3>Login Here</h3><br>
        {% if message %}
            <p style="color: green">{{ message }}</p>
        {% endif %}


        <!-- 
            * name is used to identify the key of the
            * data sent through post. Can be accessed 
            * similar to a key in dictionary.
        -->
        <form action="/perform-login" method="post">
            <label for="email">Email Id</label><br>
            <input type="email" name="email_id" id="email" required><br><br>
            <label for="password">Password</label><br>
            <input type="password" name="password" id="password" required><br><br>
            <input type="submit" value="Login">
        </form>

        <p>Not a Member? | <a href="/register">Register Here</a></p>
        
        <script src="" async defer></script>
    </body>
</html>